body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: white;
    text-align: center;
}

.pet-screen {
    border: 4px solid #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
}

.pet-face {
    font-size: 80px;
    margin: 20px 0;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-bottom: 20px;
}

.boton {
    background-color: #f5c103;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

.boton:hover { background-color: #fff; }
.game-over { color: red; font-size: 30px; font-weight: bold; }

/* Botón normal con efecto 3D */
.boton {
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    box-shadow: 0px 4px 0px #c7861b; /* La "sombra" hace el efecto 3D */
    transition: all 0.1s;
}

/* Efecto al pulsar */
.boton:active {
    position: relative;
    top: 4px; /* Se mueve hacia abajo */
    box-shadow: 0px 0px 0px #c7861b; /* Desaparece la sombra */
}

/* Botón DESACTIVADO (Cuando está en cooldown) */
.boton:disabled {
    background: #cccccc;
    border: 1px solid #999999;
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
    top: 0px;
    filter: grayscale(100%);
}
